.view-source-item{
    padding: 10px;
    overflow-x: auto;
}

.border-right{
    border-right: 1px solid #dcdcdc;
}

.switch{
    label{
        position: relative;
        top: -8px;
        margin: 0 5px;
    }
}